@import url("profile.css");
@import url("firstView.css");
@import url("works.css");
@import url("skills.css");
@import url("contact.css");
@import url("slick.css");
@import url("slick-theme.css");
html,
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.custom-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1000;
}

.header-bg-color {
  background-color: rgba(19, 45, 58, 0.8);
}

.header-selection a {
  font-size: 1.5rem;
}

.navbar {
  padding: 0 2rem;
}

.parallax-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.parallax-overlay-white {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 1rem 0 0;
  padding: 6rem 0 0 0;
}

.parallax-section {
  position: relative;
  flex-grow: 1;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.content-section {
  padding: 1rem 2rem;
}

.white-bg {
  background-color: white;
}

.text-center {
  text-align: center;
}
