<section class="parallax-section profile-bg">
  <div class="profile-overlay"></div>
  <div class="container profile-wrapper">
    <div class="profile-header">
      <h2 class="section-title">Profile</h2>
    </div>

    <div class="profile-content-wrapper">
      <div class="profile-menus">
        <div class="profile-menu" data-target="profile">
          <a class="btn-floating btn-large red"
            ><i class="material-icons">face</i></a
          >
          <p>Profile</p>
        </div>
        <div class="profile-menu" data-target="research">
          <a class="btn-floating btn-large green"
            ><i class="material-icons">science</i></a
          >
          <p>Research</p>
        </div>
        <div class="profile-menu" data-target="experience">
          <a class="btn-floating btn-large blue"
            ><i class="material-icons">work</i></a
          >
          <p>Experience</p>
        </div>
        <div class="profile-menu" data-target="hobby">
          <a class="btn-floating btn-large yellow"
            ><i class="material-icons">nightlife</i></a
          >
          <p>Hobby</p>
        </div>
      </div>

      <div class="profile-explanations">
        <div class="profile-section profile-profile">
          <div class="profile-explanation-title -mb-2rem">
            <h3>Profile</h3>
            <img
              src="/images/jump_blur.png"
              alt="/images/noimg.png"
              class="profile-image"
            />
          </div>
          <div class="profile-explanation">
            <h4>小海 一樹</h4>
            <ul>
              <p>2003年3月： 東京の病院で生まれる</p>
              <p>2009年4月： 地元の小学校に入学</p>
              <p class="caption">
                水泳、サッカー、陸上、卓球など、いろいろなスポーツを経験<br />
              </p>
              <p>2015年4月： 地元の中学に入学</p>
              <p class="caption">
                卓球部に所属し、かなり全力で取り組む。<br />
                高校も卓球部がないと行く高校を変えるつもりだった。
              </p>
              <p>2018年4月： 都立国分寺高校に入学</p>
              <p class="caption">
                なぜかダンス部に入部し、ダンスと出会う<br />得意科目は物理
              </p>

              <p>2021年4月： 筑波大学総合学域群第二類に入学</p>
              <p class="caption">
                大学の学問を知ってから専攻を決めたいという思いから選択<br />
                決めた時期が高3の夏で、東大はさすがに厳しく、北大は遠すぎた<br />
                ストリートダンスサークルに加入し、現在まで継続。忙しいときは週8で練習も
              </p>
              <p>
                2025年4月： 筑波大学大学院 知能機能システム学位プログラムに入学
              </p>
              <p class="caption">
                正式名称は、 理工情報生命学術院 システム情報工学研究群
                知能機能システム学位プログラム
                <br />長すぎてまだ覚えられていない
              </p>
              <p>
                様々なことを卒なくこなしつつ、深めるのも好きなENTJ。<br />
                最近は、学業・研究・就活・サークル活動・長期インターン・個人開発など、
                大量のやることに忙殺されています。<br />
                20代はたくさん働いて成長し、だんだん余裕を作っていって、
                最終的には不労所得で生活するのが理想。
              </p>
            </ul>
          </div>
        </div>
        <div
          class="profile-section profile-research"
          id="research"
          style="display: none"
        >
          <div class="profile-explanation-title">
            <h3>Research</h3>
            <img
              src="/images/research_fig1.png"
              alt="/images/noimg.png"
              class="profile-image"
            />
          </div>
          <div class="profile-explanation">
            <p class="subtitle">最終的な目的</p>
            <p>
              人の行動や反応から成る“コミュニケーション”の構造を定式化し、
              そのメカニズムや影響をモデル化することを目指しています。
              将来的には、身体動作や音声といった非言語情報をもとに、
              行動ベースの対話を可能にするAIの基盤構築を目指します。
            </p>
            <p class="subtitle">卒論で行ったこと</p>
            <p>
              ストリートダンスのセッション（サイファー）を題材に、
              盛り上がりを「リアクションの量・質・同期」といった観点から定量化し、
              それを可視化する支援システムを開発しました。
              <br />YOLOとMediaPipeで参加者の位置と姿勢を検出し
              、指差し・挙手・拍手といった反応を検出するアルゴリズムを構築。
              床面への投影フィードバックを通じて一体感や参加意欲を高める効果を検証しました。
            </p>
            <p class="subtitle">現在行っていること</p>
            <p>
              卒論で得られた知見をもとに、
              リアクションなどの行動要素を入力として用いる強化学習への発展を構想しています。
              姿勢や音声を入力とし、時間的変化を踏まえて場の盛り上がりを
              予測・誘導するようなモデルの構築を目指しています。
            </p>
          </div>
        </div>
        <div class="profile-section profile-experience" style="display: none">
          <div class="profile-explanation-title">
            <h3>Experience</h3>
            <!-- <img
              src="/images/research_fig1.png"
              alt="/images/noimg.png"
              class="profile-image"
            /> -->
          </div>
          <div class="profile-explanation">
            <p class="subtitle">数理進学予備校E'z</p>
            <p>アルバイト　2021年4月 - 2025年2月</p>
            <p>
              中高生の数学・物理の集団授業を行っており、大学受験生も担当。<br />
              生徒一人ひとりの課題を言語化し、状況に応じて授業内容を柔軟に調整。
              理屈に強く、対話型の指導で信頼を得て、社員からも高い評価を受けました。
            </p>
            <p class="subtitle">株式会社ゲームシスト</p>
            <p>長期インターン　2024年2月 - 現在</p>
            <p>
              プログラミングWSへの参加をきっかけに、開発プロジェクトに参画。<br />
              ゴルフフォームの解析・記録アプリの開発に携わり、Pythonを用いて姿勢データの解析やスコア化ロジックを担当。
              会議進行や方針提案でも論理的思考を活かし、現在も新たなプロジェクトに断続的に貢献しています。
            </p>
            <p class="subtitle">株式会社ソフィエイト</p>
            <p>長期インターン　2024年10月 - 現在</p>
            <p>
              サークルの先輩に相談したことをきっかけに、先輩の勤める企業でインターンを開始。<br />
              初めてのReact・Next.jsによる開発ながら、約3か月で複雑なページの実装まで担当するように。
              未経験からのキャッチアップ力と丁寧な理解を重視した姿勢が成長に繋がりました。
            </p>
          </div>
        </div>
        <div class="profile-section profile-hobby" style="display: none">
          <h3>Hobby</h3>
          <div class="profile-explanation">
            <p class="subtitle">ダンス</p>
            <p>
              高校から現在まで継続。大学では全国大会出場などを経験。<br />
              振付構成を考えるのが得意で、気が付いたら「構成生成AI」と呼ばれていた。
              音楽がかかると（稀にかかってなくても）場所を問わず踊りだしてしまうのが悩み。
              専門ジャンルはLock。
            </p>
            <p class="subtitle">プログラミング</p>
            <p>
              時間や場所にとらわれないこと、失敗してもすぐにやり直せること、
              単調な作業を自動化できることなど、自分に合った要素が多く、自然と夢中になった。<br />
              シンプルに「モノを作る」ことが好きで、最近はハードウェアと連携した開発にも関心がある。
              思った通りにシステムが動いた瞬間の快感はやめられない。
            </p>
            <p class="subtitle">論理的好奇心</p>
            <p>
              理屈や因果を探ることに面白さを感じるタイプで、仕組みや背景を理解するのが好き。
              自然科学から人の行動まで、興味が向いたものは分野を問わず掘り下げる。
            </p>
            <p class="caption">(趣味...?)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
