<section class="parallax-section skills-bg">
  <div class="skills-overlay"></div>
  <div class="skills-wrapper">
    <div class="container skills-text-wrapper">
      <h2 class="section-title">Skills</h2>
      <p>私のスキルは、主に以下の3つのカテゴリに分けられます。</p>
    </div>
    <div class="skills-charts-layout">
      <div class="skills-chart-wrapper">
        <h5 class="center-align">Language</h5>
        <canvas id="skills-radarChart-language"></canvas>
      </div>
      <div class="skills-chart-wrapper">
        <h5 class="center-align">Library / Frame works</h5>
        <canvas id="skills-radarChart-library"></canvas>
      </div>
      <div class="skills-chart-wrapper">
        <h5 class="center-align">Others</h5>
        <canvas id="skills-radarChart-others"></canvas>
      </div>
    </div>
  </div>
</section>
