<section class="parallax-section skills-bg">
  <div class="skills-overlay"></div>
  <div class="skills-wrapper">
    <div class="skills-text-wrapper container">
      <h2 class="section-title">Skills</h2>
      <div class="skill-line">
        <span class="skill-level">1:</span
        ><span class="skill-desc">ちょっと触ったことがある</span>
      </div>
      <div class="skill-line">
        <span class="skill-level">2:</span
        ><span class="skill-desc">リファレンスがあればかける</span>
      </div>
      <div class="skill-line">
        <span class="skill-level">3:</span
        ><span class="skill-desc"
          >それなりに自立して使える。実務での経験がある</span
        >
      </div>
      <div class="skill-line">
        <span class="skill-level">4:</span
        ><span class="skill-desc">上位10%の自信がある</span>
      </div>
      <div class="skill-line">
        <span class="skill-level">5:</span
        ><span class="skill-desc">神である</span>
      </div>
    </div>
    <div class="skills-charts-layout">
      <div class="skills-chart-wrapper">
        <h5 class="center-align">Language</h5>
        <canvas id="skills-radarChart-language"></canvas>
      </div>
      <div class="skills-chart-wrapper">
        <h5 class="center-align">Library / Frame works</h5>
        <canvas id="skills-radarChart-library"></canvas>
      </div>
      <div class="skills-chart-wrapper">
        <h5 class="center-align">Others</h5>
        <canvas id="skills-radarChart-others"></canvas>
      </div>
    </div>
  </div>
</section>
