<section class="parallax-section works-bg">
  <div class="parallax-overlay-white"></div>
  <div class="container works-wrapper">
    <h2 class="section-title white-text">Works</h2>
    <div class="works-slider-wrapper">
      <div class="works-component">
        <h4 class="works-title">School</h4>
        <div class="works-slider">
          <div data-target="research"><img src="/images/research.png" /></div>
          <div data-target="duckShout">
            <img src="/images/duck_shout.png" />
          </div>
          <div data-target="dontKickMe">
            <img src="/images/Don't_Kick_Me!.png" />
          </div>
          <div data-target="shooting"><img src="/images/noimg.png" /></div>
        </div>
        <div class="works-names">
          <div class="works-name works-name-research">Research</div>
          <div class="works-name works-name-duckShout">Duck Shout</div>
          <div class="works-name works-name-dontKickMe">Don't Kick Me!</div>
          <div class="works-name works-name-shooting">Current Work</div>
        </div>
      </div>
      <div class="works-component">
        <h4 class="works-title">Personal</h4>
        <div class="works-slider">
          <div data-target="POS"><img src="/images/noimg.png" /></div>
          <div data-target="MX"><img src="/images/noimg.png" /></div>
          <div data-target="portfolio"><img src="/images/Portfolio.png" /></div>
          <div data-target="jamApp"><img src="/images/noimg.png" /></div>
          <div data-target="danceLayout">
            <img src="/images/composition_app.png" />
          </div>
        </div>
        <div class="works-names">
          <div class="works-name works-name-POS">POS System</div>
          <div class="works-name works-name-MX">Motion-X</div>
          <div class="works-name works-name-portfolio">Portfolio</div>
          <div class="works-name works-name-jamApp">Jam App</div>
          <div class="works-name works-name-danceLayout">Dance Layout</div>
        </div>
      </div>
    </div>
    <div class="modalsContainer">
      <!-- 将来的にはモーダルのスタイルを統一して、中身も変数的に扱いたい -->
      <div class="modal works-modal-research">
        <div class="modal-content">
          <h4>Research</h4>
          <img src="/images/research.png" alt="Research" style="width: 100%" />
          <p>Researchの説明</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"
            >閉じる</a
          >
        </div>
      </div>
      <div class="modal works-modal-duckShout">
        <div class="modal-content">
          <h4>Duck Shout</h4>
          <img
            src="/images/duck_shout.png"
            alt="Duck Shout"
            style="width: 100%"
          />
          <p>Duck Shoutの説明</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"
            >閉じる</a
          >
        </div>
      </div>
      <div class="modal works-modal-dontKickMe">
        <div class="modal-content">
          <h4>Don't Kick Me!</h4>
          <img
            src="/images/Don't_Kick_Me!.png"
            alt="Don't Kick Me!"
            style="width: 100%"
          />
          <p>Don't Kick Me!の説明</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"
            >閉じる</a
          >
        </div>
      </div>
      <div class="modal works-modal-shooting">
        <div class="modal-content">
          <h4>Current Work</h4>
          <img src="/images/noimg.png" alt="Current Work" style="width: 100%" />
          <p>Current Workの説明</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"
            >閉じる</a
          >
        </div>
      </div>
      <div class="modal works-modal-POS">
        <div class="modal-content">
          <h4>POS System</h4>
          <img src="/images/noimg.png" alt="POS System" style="width: 100%" />
          <p>POS Systemの説明</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"
            >閉じる</a
          >
        </div>
      </div>
      <div class="modal works-modal-MX">
        <div class="modal-content">
          <h4>Motion-X</h4>
          <img src="/images/noimg.png" alt="Motion-X" style="width: 100%" />
          <p>Motion-Xの説明</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"
            >閉じる</a
          >
        </div>
      </div>
      <div class="modal works-modal-portfolio">
        <div class="modal-content">
          <h4>Portfolio</h4>
          <img
            src="/images/Portfolio.png"
            alt="Portfolio"
            style="width: 100%"
          />
          <p>Portfolioの説明</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"
            >閉じる</a
          >
        </div>
      </div>
      <div class="modal works-modal-jamApp">
        <div class="modal-content">
          <h4>Jam App</h4>
          <img src="/images/noimg.png" alt="Jam App" style="width: 100%" />
          <p>Jam Appの説明</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"
            >閉じる</a
          >
        </div>
      </div>
      <div class="modal works-modal-danceLayout">
        <div class="modal-content">
          <h4>Dance Layout</h4>
          <img
            src="/images/composition_app.png"
            alt="Dance Layout"
            style="width: 100%"
          />
          <p>Dance Layoutの説明</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"
            >閉じる</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
